# Data Science Tools and Ecosystem

#  introductory sentence about the notebook such as the follows:

'In this notebook, Data Science Tools and Ecosystem are summarized.'

# some of the key takeaways from the course
**Objectives**
- Python
- R
- SQL
- Java
- Scala

# Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Scala
6. C++
7. Javscript
8. Julia

#Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Plotly
6. Scikit-Learn

|Data Science Tools|
------
|Weka| 
|KNIME|
|TensorFlow.js|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
'Tenvheer Singh'